{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <ol>
        {% for category in categories %}
            <li><h2>{{ category.owner.name }}</h2></li>
            <ul>
                {% for article in category %}
                    <li>
                        <h4>{{ article.title }}</h4>
                        <p>{{ article.content}}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ol>
{% endblock %}
